<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyanogenmod.settings.navibar"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21"/>

    <application
        android:label="NaviBar"
        android:persistent="true">

        <activity
            android:name=".NaviBarSettings"
            android:label="@string/navi_bar_title"
            android:theme="@android:style/Theme.Material.Settings">
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.device" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_buttons" />
        </activity>

    </application>
</manifest>
