# FSG
type fsg_file, fs_type, contextmount_type;

# RIL
type netmgr_data_file, file_type, data_file_type;

# sysfs
type sysfs_adsp, fs_type, sysfs_type;
type sysfs_homebutton, fs_type, sysfs_type;
type sysfs_mmi_fp, fs_type, sysfs_type;
type sysfs_mmi_laser, fs_type, sysfs_type;
type sysfs_mmi_touch, fs_type, sysfs_type;
