allow hal_health_default mnt_vendor_file:dir search;
allow hal_health_default persist_file:dir search;
allow hal_health_default persist_file:file rw_file_perms;
allow hal_health_default sysfs:file rw_file_perms;
