allow hwservicemanager init:dir r_dir_perms;
allow hwservicemanager init:file r_file_perms;
allow hwservicemanager init:process getattr;

binder_use(hwservicemanager);

binder_call(hwservicemanager, hal_power_default);
binder_call(hwservicemanager, hal_usb_default);
