allow init audio_device:chr_file { write ioctl };
allow init input_device:chr_file ioctl;
allow init sensors_device:chr_file { write ioctl };
allow init tee_device:chr_file { write ioctl };

allow init servicemanager:binder { transfer call };
allow init system_server:binder { transfer call };

allow init property_socket:sock_file write;
allow init socket_device:sock_file { create setattr unlink };

allow init system_data_file:file { rename append };
allow init firmware_file:dir mounton;

allow init fm_radio_device:chr_file write;

# ptt_socket_app
allow init dnsproxyd_socket:sock_file write;
allow init netd:unix_stream_socket connectto;
allow init self:netlink_socket { read write getattr connect };

allow init debugfs:file write;
allow init persist_file:filesystem { getattr mount relabelfrom relabelto };

# Screen off gestures
allow init sysfs_screen_off_gestures:file { rw_file_perms setattr };

allow init debugfs_tracing:file write;
allow init diag_device:chr_file { ioctl write };

allow init self:capability2 block_suspend;
allow init self:netlink_route_socket read;
allow init self:netlink_socket { bind create };
allow init sysfs_devices_system_cpu:dir write;
# allow init system_file:file execute_no_trans;
allow init system_server:unix_stream_socket read;
allow init thermal_device:chr_file ioctl;
allow init video_device:chr_file { ioctl write };
# allow init vendor_file:file execute_no_trans;

allow init netd_socket:sock_file write;
allow init qdsp_device:chr_file ioctl;

allow init wcnss_device:chr_file write;

allow init hci_attach_dev:chr_file { ioctl write };


