type init_wifi, domain, domain_deprecated;
type init_wifi_exec, exec_type, file_type;
init_daemon_domain(init_wifi)

# shell scripts need to execute /system/bin/sh
allow init_wifi shell_exec:file rx_file_perms;
allow init_wifi toolbox_exec:file rx_file_perms;

allow init_wifi sysfs_wcnsscore:file rw_file_perms;
allow init_wifi sysfs_wcnsscore:dir rw_dir_perms;
