allow mediaextractor fuse:file r_file_perms;
allow mediaextractor system_server:fifo_file { write append };
allow mediaextractor sdcardfs:file r_file_perms;
allow mediaextractor vfat:file r_file_perms;
