allow mm-qcamerad laser_device:chr_file { read write ioctl open };
allow mm-qcamerad persist_file:dir search;
allow mm-qcamerad persist_file:file { read getattr open };
allow mm-qcamerad system_data_file:dir read;
