type mmi_laser, domain;
type mmi_laser_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(mmi_laser)

binder_use(mmi_laser)
binder_service(mmi_laser)
binder_call(mmi_laser, system_server)

# shell scripts need to execute /system/bin/sh
allow mmi_laser vendor_shell_exec:file rx_file_perms;
allow mmi_laser vendor_toolbox_exec:file rx_file_perms;
allow mmi_laser vendor_shell_exec:file entrypoint;

# Logs to /dev/kmsg
allow mmi_laser kmsg_device:chr_file w_file_perms;

allow mmi_laser persist_file:dir search;
allow mmi_laser persist_file:file r_file_perms;
allow mmi_laser sysfs_mmi_laser:file rw_file_perms;
