get_prop(platform_app, camera_prop);
get_prop(platform_app, qemu_hw_mainkeys_prop);
binder_call(platform_app, hal_sensors_default);

allow platform_app rootfs:dir getattr;

allow platform_app init:unix_stream_socket { read write };
allow platform_app hal_sensors_default:unix_stream_socket { read write };

allow platform_app qemu_hw_mainkeys_prop:file {getattr open read};
