allow qti_init_shell apk_data_file:dir { write add_name create };
allow qti_init_shell apk_data_file:file { create write setattr };
allow qti_init_shell hci_attach_dev:chr_file { read write open ioctl };

allow qti_init_shell kmsg_device:chr_file write;
allow qti_init_shell sysfs_wcnsscore:file write;

allow qti_init_shell kmsg_device:chr_file open;
