allow rfs_access self:capability net_raw;
allow rfs_access persist_file:file { getattr open read rename setattr unlink write };
allow rfs_access vendor_tombstone_data_file:dir search;

allow rfs_access persist_file:dir { add_name open remove_name read search setattr write };
allow rfs_access persist_file:file create;
