type sensor_hub, domain, domain_deprecated;
type sensor_hub_exec, exec_type, file_type;
init_daemon_domain(sensor_hub)

allow sensor_hub sensors_device:chr_file rw_file_perms;
set_prop(sensor_hub, motosh_prop)
