allow servicemanager init:dir search;
allow servicemanager init:file { open read };
allow servicemanager init:process getattr;
allow servicemanager rild:dir search;
allow servicemanager rild:file { open read };
allow servicemanager rild:process getattr;
