binder_call(system_server, rild);

allow system_server sysfs_homebutton:file rw_file_perms;
allow system_server sysfs_homebutton:dir r_dir_perms;
allow system_server persist_file:dir create_dir_perms;
allow system_server persist_file:file create_file_perms;
allow system_server rild:binder transfer;
allow system_server sysfs_capsense:dir search;
allow system_server sysfs_capsense:file rw_file_perms;
allow system_server init:unix_stream_socket { read };
# allow system_server dalvikcache_data_file:file { execute };

allow system_server qti_debugfs:file { getattr open read };
allow system_server init:unix_stream_socket write;

allow system_server sensors_device:chr_file { ioctl open read };

get_prop(system_server, alarm_boot_prop)
