allow toolbox bluetooth_prop:file { getattr open read };
allow toolbox init:fifo_file { getattr read write };
allow toolbox init:netlink_route_socket { read write };
allow toolbox init:netlink_socket { read write };
allow toolbox init:netlink_xfrm_socket { read write };
allow toolbox init:unix_stream_socket connectto;
allow toolbox netmgr_data_file:file { read write };
allow toolbox proc:file { open read };
allow toolbox property_socket:sock_file write;
allow toolbox self:capability { chown dac_override net_admin };
allow toolbox sysfs_mmi_touch:dir search;
allow toolbox sysfs_mmi_touch:file { open read };

allow toolbox radio_data_file:file getattr;
allow toolbox self:udp_socket { create ioctl };
allow toolbox system_prop:property_service set;
allow toolbox touch_prop:property_service set;
allow toolbox init:fifo_file ioctl;

allow toolbox bluetooth_prop:property_service set;
