allow ueventd device:chr_file { relabelfrom relabelto };
allow ueventd sysfs_mmi_fp:file w_file_perms;
allow ueventd sysfs_mmi_touch:file w_file_perms;
allow ueventd sysfs_mmi_touch:dir search;
