allow ueventd sysfs_mmi_fp:file w_file_perms;
allow ueventd sysfs_mmi_touch:file w_file_perms;
allow ueventd sysfs_mmi_touch:dir search;

allow ueventd synaptics_rmi_device:chr_file { rw_file_perms relabelfrom relabelto};
allow ueventd sysfs_fpc:file rw_file_perms;
allow ueventd sysfs_sensors:file rw_file_perms;
