allow vendor_init camera_data_file:dir setattr;
allow vendor_init media_rw_data_file:dir setattr;
allow vendor_init rootfs:dir { add_name write };
allow vendor_init netmgr_data_file:dir setattr;
allow vendor_init persist_file:filesystem getattr;
allow vendor_init system_data_file:dir { add_name setattr write create};
allow vendor_init tombstone_data_file:dir search;
allow vendor_init radio_data_file:dir search;

allow vendor_init dhcp_data_file:dir setattr;
allow vendor_init radio_data_file:file r_file_perms;
allow vendor_init wifi_data_file:dir setattr;
allow vendor_init wpa_socket:dir setattr;
allow vendor_init akmd_data_file:dir setattr;
allow vendor_init dbvc_data_file:dir setattr;
allow vendor_init moodle_data_file:dir setattr;
allow vendor_init wapi_supplicant_data_file:dir setattr;
allow vendor_init fpc_data_file:dir setattr;
allow vendor_init sds_data_file:dir setattr;
allow vendor_init adspd_data_file:dir setattr;
allow vendor_init fps_data_file:dir setattr;
