service sensors-hal-1-0 /vendor/bin/hw/android.hardware.sensors@1.0-service_moto
    class late_start
    user system
    group compass input misc system wakelock
    capabilities BLOCK_SUSPEND SYS_NICE
